In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')
from zipfile import ZipFile
import ast

In [2]:
file_name = 'TMDB_tv_dataset_v3.zip'
with ZipFile(file_name, 'r') as zip:
  zip.extractall()
  print('Done!')

Done!

In [3]:
tmdb = pd.read_csv('TMDB_tv_dataset_v3.csv')
tmdb.head()

,id,name,number_of_seasons,number_of_episodes,original_language,vote_count,vote_average,overview,adult,backdrop_path,...,tagline,genres,created_by,languages,networks,origin_country,spoken_languages,production_companies,production_countries,episode_run_time
0,1399,Game of Thrones,8,73,en,21857,8.442,Seven noble families fight for control of the ...,False,/2OMB0ynKlyIenMJWI2Dy9IWT4c.jpg,...,Winter Is Coming,"Sci-Fi & Fantasy, Drama, Action & Adventure","David Benioff, D.B. Weiss",en,HBO,US,English,"Revolution Sun Studios, Television 360, Genera...","United Kingdom, United States of America",0
1,71446,Money Heist,3,41,es,17836,8.257,"To carry out the biggest heist in history, a m...",False,/gFZriCkpJYsApPZEF3jhxL4yLzG.jpg,...,The perfect robbery.,"Crime, Drama",Álex Pina,es,"Netflix, Antena 3",ES,Español,Vancouver Media,Spain,70
2,66732,Stranger Things,4,34,en,16161,8.624,"When a young boy vanishes, a small town uncove...",False,/2MaumbgBlW1NoPo3ZJO38A6v7OS.jpg,...,Every ending has a beginning.,"Drama, Sci-Fi & Fantasy, Mystery","Matt Duffer, Ross Duffer",en,Netflix,US,English,"21 Laps Entertainment, Monkey Massacre Product...",United States of America,0
3,1402,The Walking Dead,11,177,en,15432,8.121,Sheriff's deputy Rick Grimes awakens from a co...,False,/x4salpjB11umlUOltfNvSSrjSXm.jpg,...,Fight the dead. Fear the living.,"Action & Adventure, Drama, Sci-Fi & Fantasy",Frank Darabont,en,AMC,US,English,"AMC Studios, Circle of Confusion, Valhalla Mot...",United States of America,42
4,63174,Lucifer,6,93,en,13870,8.486,"Bored and unhappy as the Lord of Hell, Lucifer...",False,/aDBRtunw49UF4XmqfyNuD9nlYIu.jpg,...,It's good to be bad.,"Crime, Sci-Fi & Fantasy",Tom Kapinos,en,"FOX, Netflix",US,English,"Warner Bros. Television, DC Entertainment, Jer...",United States of America,45

In [4]:
tmdb.shape

(168639, 29)

In [5]:
tmdb.columns

Index(['id', 'name', 'number_of_seasons', 'number_of_episodes',
       'original_language', 'vote_count', 'vote_average', 'overview', 'adult',
       'backdrop_path', 'first_air_date', 'last_air_date', 'homepage',
       'in_production', 'original_name', 'popularity', 'poster_path', 'type',
       'status', 'tagline', 'genres', 'created_by', 'languages', 'networks',
       'origin_country', 'spoken_languages', 'production_companies',
       'production_countries', 'episode_run_time'],
      dtype='object')

In [6]:
tmdb.isnull().mean()

id                      0.000000
name                    0.000030
number_of_seasons       0.000000
number_of_episodes      0.000000
original_language       0.000000
vote_count              0.000000
vote_average            0.000000
overview                0.446552
adult                   0.000000
backdrop_path           0.538778
first_air_date          0.188189
last_air_date           0.177326
homepage                0.697591
in_production           0.000000
original_name           0.000030
popularity              0.000000
poster_path             0.355208
type                    0.000000
status                  0.000000
tagline                 0.968394
genres                  0.408719
created_by              0.783585
languages               0.347423
networks                0.421314
origin_country          0.184003
spoken_languages        0.351989
production_companies    0.648112
production_countries    0.540373
episode_run_time        0.000000
dtype: float64

In [7]:
tmdb.drop(columns = ['tagline',
                     'created_by',
                     'backdrop_path',
                     'poster_path',
                     'homepage'], axis = 1, inplace = True)
tmdb.head(2)

,id,name,number_of_seasons,number_of_episodes,original_language,vote_count,vote_average,overview,adult,first_air_date,...,type,status,genres,languages,networks,origin_country,spoken_languages,production_companies,production_countries,episode_run_time
0,1399,Game of Thrones,8,73,en,21857,8.442,Seven noble families fight for control of the ...,False,2011-04-17,...,Scripted,Ended,"Sci-Fi & Fantasy, Drama, Action & Adventure",en,HBO,US,English,"Revolution Sun Studios, Television 360, Genera...","United Kingdom, United States of America",0
1,71446,Money Heist,3,41,es,17836,8.257,"To carry out the biggest heist in history, a m...",False,2017-05-02,...,Scripted,Ended,"Crime, Drama",es,"Netflix, Antena 3",ES,Español,Vancouver Media,Spain,70

In [8]:
tmdb.isnull().mean()

id                      0.000000
name                    0.000030
number_of_seasons       0.000000
number_of_episodes      0.000000
original_language       0.000000
vote_count              0.000000
vote_average            0.000000
overview                0.446552
adult                   0.000000
first_air_date          0.188189
last_air_date           0.177326
in_production           0.000000
original_name           0.000030
popularity              0.000000
type                    0.000000
status                  0.000000
genres                  0.408719
languages               0.347423
networks                0.421314
origin_country          0.184003
spoken_languages        0.351989
production_companies    0.648112
production_countries    0.540373
episode_run_time        0.000000
dtype: float64

In [9]:
# dropping rows of production_companies
tmdb.dropna(inplace = True)
print(tmdb.shape)
tmdb.info()

(26821, 24)
<class 'pandas.core.frame.DataFrame'>
Index: 26821 entries, 0 to 168619
Data columns (total 24 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    26821 non-null  int64
 1   name                  26821 non-null  object
 2   number_of_seasons     26821 non-null  int64
 3   number_of_episodes    26821 non-null  int64
 4   original_language     26821 non-null  object
 5   vote_count            26821 non-null  int64
 6   vote_average          26821 non-null  float64
 7   overview              26821 non-null  object
 8   adult                 26821 non-null  bool
 9   first_air_date        26821 non-null  object
 10  last_air_date         26821 non-null  object
 11  in_production         26821 non-null  bool
 12  original_name         26821 non-null  object
 13  popularity            26821 non-null  float64
 14  type                  26821 non-null  object
 15  status                26821 non-null  object
 16  genres                26821 non-null  object
 17  languages             26821 non-null  object
 18  networks              26821 non-null  object
 19  origin_country        26821 non-null  object
 20  spoken_languages      26821 non-null  object
 21  production_companies  26821 non-null  object
 22  production_countries  26821 non-null  object
 23  episode_run_time      26821 non-null  int64
dtypes: bool(2), float64(2), int64(5), object(15)
memory usage: 4.8+ MB

In [10]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import linear_kernel

# Create a new DataFrame with only the relevant columns
df = tmdb[['id', 'name', 'overview']]

# Fill any missing values in the 'overview' column with an empty string
df['overview'] = df['overview'].fillna('')

# Create a TF-IDF vectorizer to convert the overviews into numerical representations
tfidf = TfidfVectorizer(stop_words='english')

# Fit and transform the overviews
tfidf_matrix = tfidf.fit_transform(df['overview'])

# Compute the cosine similarity between all pairs of TV shows based on their overviews
cosine_sim = linear_kernel(tfidf_matrix, tfidf_matrix)

# Create a reverse map of indices and TV show titles
indices = pd.Series(df.index, index=df['name']).drop_duplicates()

def get_recommendations(title, cosine_sim=cosine_sim):
    """
    Get content-based recommendations for a given TV show title.

    Args:
      title: The title of the TV show.
      cosine_sim: The cosine similarity matrix.

    Returns:
      A list of recommended TV show names.
    """

    # Get the index of the TV show that matches the title
    idx = indices[title]

    # Get the pairwise similarity scores of all TV shows with that TV show
    sim_scores = list(enumerate(cosine_sim[idx]))

    # Sort the TV shows based on the similarity scores
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)

    # Get the scores of the 10 most similar TV shows
    sim_scores = sim_scores[1:11]

    # Get the TV show indices
    tv_show_indices = [i[0] for i in sim_scores]

    # Return the top 10 most similar TV shows
    return df['name'].iloc[tv_show_indices]

In [11]:
# Example: Get recommendations for a TV show named "The 100"
recommendations = get_recommendations('Money Heist')
print(recommendations)

716                Money Heist: Korea - Joint Economic Area
2303                      Money Heist: From Tokyo to Berlin
38771                                          Astey Ladies
9963                                           Leopard Skin
5093                                           Super Crooks
40106                                            Paper Port
131878                                       Hit in 50 days
99775     Special Forces: Ultimate Hell Week - The Profe...
2773                                            Riot Police
22229                                   The Ravages of Time
Name: name, dtype: object

In [12]:
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.preprocessing import MinMaxScaler

# Select relevant columns for collaborative filtering
df_cf = tmdb[['name', 'vote_average', 'popularity']]

# Create a pivot table with users (if available) and TV shows
# If no user data is available, consider using 'vote_average' or 'popularity' as a proxy for user ratings
# Assuming 'vote_average' is a user rating proxy
pivot_table = df_cf.pivot_table(index='name', values='vote_average')

# Fill NaN values with the mean vote average
pivot_table.fillna(pivot_table.mean(), inplace=True)

# Calculate cosine similarity between TV shows based on user ratings (or proxy ratings)
cosine_sim_cf = cosine_similarity(pivot_table)

# Create a reverse map of indices and TV show titles
# Instead of using the TV show name as both index and value, use the numerical index
indices_cf = pd.Series(pivot_table.index)
# Create a dictionary to map TV show names to their numerical indices
title_to_index = {title: index for index, title in enumerate(pivot_table.index)}

In [14]:
def get_collaborative_recommendations(title, cosine_sim=cosine_sim_cf):
    """
    Get collaborative filtering recommendations for a given TV show title.
    Args:
      title: The title of the TV show.
      cosine_sim: The cosine similarity matrix.
    Returns:
      A list of recommended TV show names.
    """
    if title not in title_to_index:
        print(f"TV show '{title}' not found in the dataset.")
        return []

    idx = title_to_index[title]
    sim_scores = sorted(list(enumerate(cosine_sim[idx])), key=lambda x: x[1], reverse=True)[1:11]
    tv_show_indices = [i[0] for i in sim_scores]
    recommendations = pivot_table.index[tv_show_indices]

    def process_title(show):
        # Remove '#' symbol
        show = show.replace('#', '')

        # Split the title into words
        words = show.split()

        # Process each word
        processed_words = []
        for word in words:
            # Check for camel case (e.g., CasaDoCais)
            if word and word[0].isupper() and any(c.islower() for c in word[1:]):
                # Split camel case into separate words
                split_words = ''.join([' '+char if char.isupper() and i>0 else char for i, char in enumerate(word)]).split()
                processed_words.extend(split_words)
            else:
                processed_words.append(word)

        # Capitalize each word and join
        return ' '.join(word.capitalize() for word in processed_words)

    processed_recommendations = [process_title(show) for show in recommendations]

    return processed_recommendations

In [16]:
# Example: Get collaborative recommendations for a TV show named "The 100"
collaborative_recommendations = get_collaborative_recommendations('Money Heist')
collaborative_recommendations

['Bring Back Alice',
 'Casa Do Cais',
 'Cyber Sleuths: The Idaho Murders',
 'Free Rayshawn',
 'Luimelia',
 'No Filter',
 'Sitting At Home',
 'Bemyfamily',
 'Blackaf',
 'Martyisdead']

In [15]:
def get_hybrid_recommendations(title, content_weight=0.5):
  """
  Get hybrid recommendations using content-based and collaborative filtering.

  Args:
    title: The title of the TV show.
    content_weight: The weight assigned to content-based recommendations (0-1).

  Returns:
    A list of recommended TV show names.
  """

  content_recs = get_recommendations(title).tolist()
  collaborative_recs = get_collaborative_recommendations(title)

  # Combine recommendations based on weights
  hybrid_recs = []
  for i in range(min(len(content_recs), len(collaborative_recs))):
    if content_recs[i] not in hybrid_recs:
      hybrid_recs.append(content_recs[i])

    if collaborative_recs[i] not in hybrid_recs:
      hybrid_recs.append(collaborative_recs[i])

  return hybrid_recs[:10] # Return top 10 recommendations

In [16]:
# Example: Get hybrid recommendations for a TV show named "The 100"
hybrid_recommendations = get_hybrid_recommendations('Money Heist')
hybrid_recommendations

['Money Heist: Korea - Joint Economic Area',
 'Bring Back Alice',
 'Money Heist: From Tokyo to Berlin',
 'Casa Do Cais',
 'Astey Ladies',
 'Cyber Sleuths: The Idaho Murders',
 'Leopard Skin',
 'Free Rayshawn',
 'Super Crooks',
 'Luimelia']

In [19]:
import joblib

# Save the hybrid recommendation system data to a joblib file
with open('tmbd_recom_sys.joblib', 'wb') as file:
    joblib.dump((tmdb, cosine_sim), file)